
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: black;
    padding: 20px 25px;
}
header a{
    text-decoration: none;
    color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    position: relative;
}
nav ul li {
    position: relative;
}
.logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
}
nav ul li a:hover {
    background-color: #fff;
    color: black;
}


.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f4f4f4;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}
.submenu a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 20px;
}
.submenu a:hover {
    background-color: #ddd;
}
nav ul li:hover .submenu {
    display: block;
}

#section-1 {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(resimler/plann.jpg);
    background-position: top;
    padding: 20px;
    height: 550px;
    background-size: cover;
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: 0; 
}
.btn-s1 {
    display: block;
    margin: 20px auto;
    background-color: red;
    color: white;
    padding: 15px 10px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-s1:hover {
    color: black;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.comment-section {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

h2, h3 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#commentList {
    margin-top: 20px;
}

.comment {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.comment p {
    margin: 5px 0;
}

.comment .name {
    font-weight: bold;
    color: #007bff;
}





.intro {
    text-align: center;
    margin: 50px 0;
    font-family: Arial, sans-serif;
}

.intro h1 {
    color: #d3cfcf;
    font-size: 36px;
}

.intro p {
    color: #b4b4b4;
    font-size: 18px;
    margin-top: 10px;
}
